body
{
  background-color: #2F4454;
  font-family: 'Nunito Sans', sans-serif;
}

h1
{
  text-align: left;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 2em;
}

.updateContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;  
  width: 40%;
  text-align: left;
  background-color: white;
}

.newLabels
{
  display: block;
  font-size: 1em;
  margin-top: 1%;
  margin-left: 10%;
  color: black;
  font-weight: bold;
}

.newInput
{
  width: 80%;
  box-sizing: border-box;
  background-color: lightgray;
  border: 2px solid lightgray;
  border-radius: 0%;
  font-size: 1em;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  margin-left: 10%;
}

.button
{
  width: 80%;
  font-size: 1em;
  background-color: #2F4454;
  color: white;
  border-color: #2F4454;
  cursor: pointer;
  margin-left: 10%;
}

.contactLink
{
  display: block;
  text-align: center;
  font-weight: bold; 
  color: black;
  margin-top: 1%;
}

